.constructor {
  max-width: 600px;
  margin: 0 auto;
}

.ingredientsList {
  max-height: 464px; /* Ограничение высоты для скролла */
  overflow-y: auto; /* Включаем скролл */
  scroll-behavior: smooth; /* Плавный скролл */
  list-style: none; /* Убираем маркеры списка */
  padding: 0;
  margin: 0;
}

.ingredientItem {
  margin-bottom: 16px;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

/* Кастомизация скроллбара */
.ingredientsList::-webkit-scrollbar {
  width: 8px;
}

.ingredientsList::-webkit-scrollbar-track {
  background: #2f2f37;
}

.ingredientsList::-webkit-scrollbar-thumb {
  background: #8585ad;
  border: 3px solid #2f2f37;
  border-radius: 6px;
}