.constructor {
  display: flex;
  flex-direction: column;
  min-width: 600px;
}

.scroll {
  max-height: 464px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}