.ingredients {
  max-width: 600px;
  height: calc(100vh - 284px); /* Фиксированная высота для всего блока */
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.scrollContainer {
  flex: 1;
  overflow-y: auto; /* Только один скролл */
  padding-right: 8px; /* Отступ для скроллбара */
}

.category {
  margin-bottom: 40px;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

/* Стилизация скроллбара */
.scrollContainer::-webkit-scrollbar {
  width: 8px;
}

.scrollContainer::-webkit-scrollbar-track {
  background: #2f2f37;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 6px;
  border: 3px solid #2f2f37;
}